@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<section class="card mb-3">
  <div class="card-header">
    <div class="cardListName">Edit Client: @Model.Name</div>
    <div class="cardListButton">
      @using (Html.BeginForm("Destroy", "Clients", new {id = Model.ClientId}))
      {
        <button type="submit" class="btn btn-danger">Remove Client</button>
      }
    </div>
  </div>
  <div class="card-body">
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.ClientId)
      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name, new { @class = "form-control" })
      @Html.LabelFor(model => model.Stylist)
      @Html.DropDownList("StylistId", (IEnumerable<SelectListItem>)ViewBag.StylistId, new { @class = "form-control" })
      <input type="submit" value="Save" class="btn btn-primary" />
    }
  </div>
</section>  